# ==========================
# IntelliJ IDEA
# ==========================
.idea/
*.iml
out/

# ==========================
# Gradle
# ==========================
.gradle/
build/

# ==========================
# Java
# ==========================
*.class
*.jar
*.war
*.ear

# ==========================
# Logs
# ==========================
logs/
*.log

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Environment Files
# ==========================
.env
.env.*

# ==========================
# Docker
# ==========================
docker-data/

# ==========================
# Sonar
# ==========================
.sonar/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Temporary Files
# ==========================
*.swp
*.tmp